*{
	margin:0px;
	padding:0px;
}
#header{
	height:501px;
}
#container{
	height:486px;
}
#footer{
	/*height:147-73px;*/
	height:74px;
	background-color:#0085c3;
	min-width:1263px;
	padding-top:73px;
}

.top1{
	background-color:#eeeeee;
	min-width:1263px;
}
.top1_content{
	width:965px;
	height:31px;
	/*border:1px solid;*/
	margin:0px auto;
	line-height:31px;
}
.top1_content p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	float:left;
}
.top1_content a{
	display:block;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#0066cc;
	text-decoration:none;
	float:right;
}
.top2{
	background-color:#0085c3;
	min-width:1263px;
}
.top2_content{
	width:965px;
	height:70px;
	/*border:1px solid;*/
	margin:0px auto;
	line-height:31px;
}
.logo{
	width:49px;
	height:49px;
	margin-top:11px;
	float:left;
}

.nav{
	width:424px;
	float:left;
}
.nav ul li{
	height:15px;
	font-family:"黑体";
	color:white;
	list-style:none;
	margin-left:36px;
	margin-top:20px;
	float:left;
}
.search{
	width:336px;
	height:41px;
	margin-top:14px;
/*	padding-right:4px;*/
	font-family:"黑体";
	/*background-image:url('../images/68-33-search.gif');
	background-repeat:no-repeat;
	background-position:center right;*/
	border-radius:4px;
	background-color:white;
	float:right;
}
.search p{
	margin-top:5px;
	margin-left:11px;
	float:left;
}
.search img{
	float:right;
	margin-top:4px;
	margin-right:4px;
}
.banner{
	width:929px;
	height:380px;
	margin:0px auto;
	margin-top:20px;
	background-image:url('../images/929-380-banner.jpg');
}
.container1{
	width:929px;
	height:284px;
	margin:0px auto;
	margin-top:32px;
	/*border:1px solid;*/
}
.container2{
	height:193px;
	margin-top:8px;
	background-color:#0085c3;
	min-width:1263px;
	padding-top:33px;
}
.con1_left{
	width:300px;
	height:284px;
	float:left;
	/*border:1px solid;*/
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.con1_center{
	width:300px;
	height:284px;
	float:left;
	margin-left:11px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.con1_right{
	width:300px;
	height:284px;
	float:right;
	/*margin-left:11px;*/
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.con1_left_h,.con1_center_h,.con1_right_h{
	width:300px;
	height:32px;
	margin-left:21px;
	line-height:32px;
	font-family:"黑体";
	font-size:15px;
	font-weight:bold;
}
.con1_left_pic,.con1_center_pic,.con1_right_pic{
	width:300px;
	height:130px;
}
.con1_left_nav,.con1_center_nav,.con1_right_nav{
	width:300px;
	height:122px;
	margin-top:12px;
	margin-left:30px;
}
.con1_left_nav ul,.con1_center_nav ul,.con1_right_nav ul{
	width:260px;
	height:122px;
}
.con1_left_nav li,.con1_center_nav li,.con1_right_nav li{
	list-style-image:url('../images/4-7-container2.gif');
	font-family:"Times New Roman";
	font-size:10px;
	font-weight:bolder;
	line-height:22px;
}
.con2_content{
	width:930px;
	height:163px;
	margin:0px auto;
	clear:both;
	/*border:1px solid;*/
}
.con2_content1,.con2_content2,.con2_content3,.con2_content4{
	width:197px;
	height:161px;
	float:left;
	/*margin-top:33px;*/
	color:white;
/*	border:1px solid;*/
}
.con2_content1_h,.con2_content2_h,.con2_content3_h,.con2_content4_h{
	font-family:"黑体";
	font-size:15px;
}
.con2_content1_nav ul,.con2_content2_nav ul,.con2_content3_nav ul,.con2_content4_nav ul{
	margin-top:12px;
/*	border:1px solid;*/
}
.con2_content1_nav span{
	display:block;
}
.con2_content1_nav li,.con2_content2_nav li,.con2_content3_nav li,.con2_content4_nav li{
	list-style:none;
	font-family:"Arial, Helvetica, sans-serif";
	font-size:10px;
	line-height:22px;
}
.con2_content5{
	width:127px;
	height:163px;
	/*border:1px solid red;*/
	float:left;
}
.con2_content5 img{
	/*margin-top:30px;*/
	float:left;
}
.con2_content5_list{
	width:110px;
	height:15px;
	/*border:1px solid;*/
	font-family:"黑体";
	font-size:15px;
	color:white;
	background-image:url('../images/12-6-footer.gif');
	background-repeat:no-repeat;
	background-position:center right;
	margin-top:12px;
	padding-right:15px;
	float:left;
}
.footer_content{
	width:488px;
	height:74px;
	margin:0px auto;
	/*border:1px solid;*/
}
.footer_content_top{
	width:488px;
/*	border:1px solid;*/
}
.footer_content_top li{
	height:16px;
	list-style:none;
	font-family:"黑体";
	font-size:10px;
	color:white;
	float:left;
}
.footer_content_bottom{
	height:28px;
	width:230px;
	clear:both;
/*	border:1px solid;*/
	margin:0px auto;
}
.footer_content_bottom ul{
	margin:0px auto;
}
.footer_content_bottom li{
	margin-top:17px;
	padding-right:20px;
	list-style:none;
	float:left;
	background-image:url('../images/12-6-footer.gif');
	background-repeat:no-repeat;
	background-position:center right;
	font-family:"黑体";
	font-size:10px;
	color:white;
	margin-right:31px;
}

	