*{
	margin:0px;
	padding:0px;
}
.header_bg{
	height:403px;
	background-image:url('../images/header-bg.jpg');
	background-repeat:repeat-x;
	min-width:1408px;
}
#header{
	width:915px;
	height:403px;
	margin:0px auto;
	/*border:1px solid;*/
}
#container{
	clear:both;
	width:915px;
	height:310px;
	margin:0px auto;
	/*border:1px solid;*/
	/*margin-top:10px;*/
}
.con_footer_bg{
	min-width:1408px;
}
#footer{
	width:929px;
	height:76px;
	margin:0px auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	border-top:1px solid #ececec;
	margin-top:26px;
	/*border:1px solid;*/
}
#top{
	width:915px;
	height:133px;
}
#banner{
	width:915px;
	height:270px;
}
.banner_left{
	height:270px;
	width:503px;
	float:left;
}
.banner_left_h{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#ffe8a6;
	margin-top:38px;
}
.banner_left_h span{
	border-bottom:1px dotted;
	font-style:italic;
}
.banner_left_p{
	margin-top:24px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:21px;
	color:#c2e7f7;
}
.banner_left_p span{
	display:block;
}

.banner_left_nav{
	width:503px;
	height:31px;
/*	border:1px solid;*/
	margin-top:38px;
}
.banner_left_nav li{
	list-style:none;
	float:left;
/*	border:1px solid;*/
}
.banner_left_nav li img{
	float:left;
	margin-right:5px;
}
.banner_left_nav li p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#ffffe6;
	float:left;
	margin-right:41px;
	line-height:31px;
}
.banner_right{
	clear:both;
	height:270px;
	width:412px;
	position:relative;
	top:-270px;
	left:503px;
	/*border:1px solid blue;*/
}
.banner_right img{
	position:absolute;
	top:-14px;
	left:10px;
	/*border:1px solid;*/
}
#logo{
	width:262px;
	height:34px;
	margin-top:58px;
	float:left;
}
.nav{
	width:476px;
	height:22px;
	margin-top:56px;
	margin-right:22px;
	float:right;
}
.nav li{
	line-height:32px;
	list-style:none;
	margin-left:46px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
.nav li a{
	text-decoration:none;
	color:#000;
	display:block;
}
.nav li a:hover{
	color:#c70100;
	border-bottom:2px solid #c70100;
}
.con_left{
	width:275px;
	/*height:239px;*/
	float:left;
	margin-top:39px;
	/*border:1px solid;*/
}
.con_center{
	width:275px;
	/*height:239px;*/
	float:left;
	margin-left:31px;
	margin-top:39px;
	/*border:1px solid;*/
}
.con_right{
	width:275px;
	/*height:239px;*/
	float:left;
	margin-left:43px;
	margin-top:39px;
	/*border:1px solid;*/
}
.con_left span,.con_center span,.con_right_top span{
	color:#b3271a;
}
.con_left_h,.con_center_h,.con_right_top_h{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bolder;
	border-bottom:1px solid #ececec;
}
.con_left_content,.con_center_content,.con_right_top_content{
	line-height:21px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:20px;
}
.con_right_bottom{
	border:1px solid #e0e0e0;
	background-color:#f4f4f4;
	line-height:21px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:28px;
}
.con_right_bottom a{
	color:#b3271a;
}
.footer_left{
	float:left;
	margin-top:21px;
	margin-left:14px;
}
.footer_right{
	float:right;
	margin-top:21px;
}
.footer_right img{
	float:right;
}
.footer_right p{
	float:right;
	margin-right:20px;
}