
.first,.second,.third {
	color: #fff;
	line-height: 200px;
	text-align: center;
	font-size: 30px;
}
.first {
	height: 200px;
	background-color: pink;
	margin-bottom: 50px;
}
@media(min-width: 500px) {
	.first {
		width: 50%;
		float: left;
	}

}
.second {
	height: 200px;
	background-color: red;
	margin-bottom: 50px;
}
@media(min-width: 500px) {
	.second {
		width: 50%;
		float: left;
	}
}

.third {
	height: 200px;
	background-color: yellow;

}
@media(min-width: 500px) {
	.third {
		clear:both;  /*解决third与前两个重叠，以至于“消失”的问题*/
	}
}

@media(min-width: 800px) {
	.third {
		clear:none;  /*third因为clear而与前两个不在同一行*/
	}
	.first,.second,.third {
		width: 33.3333%;
		float: left;
	}
	
}